{% extends 'layouts/base.html' %}
{% block main %}
{% include 'partials/bigger-banner.html' %}

<div id="content" class="container text-light">
    <h3 class="pixel-font center">Set Stone {{show.show_id}}-{{set.set_number}}-{{setstone.tokenId}}</h3>
    <h3 class="pixel-font center">Owner: {{setstone.owner}}</h3>
    <div class="row mt-3">
        <div class="col-2"></div>
        <div class="col-2 stone-data">
            <img class="img-fluid" src="/assets/images/setstones/{{setstone.tokenId}}.png">
        </div>
        <div class="col-6 stone-data">
            <p>Show: {{show.title}}</p>
            <p>{{show.local_date`}}</p>
            <p>Set #: {{set.set_number}}</p>
            <p>Owner: {{setstone.owner}}</p>
            <p>Colors: {{colors}}</p>
        </div>
    </div>
</div>
{% endblock %}