{% extends 'layouts/base.njk' %}
{% block main %}
    {% include 'partials/bigger-banner.njk' %}

    <div class="container text-light long-form" id="content">

        <div class="row">
            <div class="col-md-8 semi-transparent-bg">
                <h1 class="container-fluid text-center">{{ song.title }}</h1>
                {% if song.traditional %}
                    <h3 class="container-fluid text-center">(traditional)</h3>
                {% endif %}
                {% if song.by_artist %}
                    <h3 class="container-fluid text-center">by {{ song.by_artist }}</h3>
                {% endif %}
                {% if song.quick_facts %}
                    <ul>
                        {% for fact_name, fact_value in song.quick_facts %}
                            <li>{{ fact_name }}: {{ fact_value }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                {% if commentary %}
                    <h2 class="vanilla">Commentary from Justin:</h2>
                    <div class="commentary text-shadow">
                        {{ commentary |safe }}
                    </div>
                {% endif %}

                {% if song.other_resources %}
                    <h2>Other resources</h2>
                    <ul>
                        {% for resource_name, other_resource_url in song.other_resources %}
                            <li><a href="{{ other_resource_url }}">{{ resource_name }}</a></li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>

            <div class="col-md-4 mt-2 text-shadow">
                {% set instrument_to_show=song.instrumentalist_to_display %}
                {% include 'partials/song-all-plays.njk' %}

                {% if song.selected_versions %}
                    <h2>Selected versions</h2>

                    {% for media in song.selected_versions %}
                        <div class="row index-{{ loop.index % 4 }} mb-2 center">
                            <div class="row">{{ media.artist }}</div>
                            <div class="row">
                                {% if media.youtube %}
                                    {% set url = media.youtube %}
                                    {% include 'partials/youtube.njk' %}
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}

                {% endif %}
            </div>

        </div>
    </div>
{% endblock %}