{{#if compact}}
    {{> slicey}}
{{else}}
    {{> bigger-banner}}
{{/if}}


<div id="content" class="mb-5 container text-light">
    <h1 class="text-light pixel-font text-center m-5">About Justin</h1>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <div id="about-text" class="p-3 fs-4 text-start">
                {{ safeHTML about_text }}
            </div>
        </div>
        <div class="col-2"></div>
    </div>
</div>