{{#if compact}}
    {{> slicey}}
{{else}}
    {{> bigger-banner}}
{{/if}}


<div id="content" class="mb-5 container text-light">
    <h1 class="text-light pixel-font text-center m-5">About Justin</h1>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <div id="about-text" class="p-3 fs-4 text-start">
                <p>
                    With thousands of published contributions to open source cryptography and web codebases, Justin was
                    until
                    recently better known as a software engineer than a musician.
                </p>
                <p>
                    Justin has been playing guitar since the late 90's, and throatsinging since the mid-2000s.  More recently, he has taken up piano, melodica, wood flute, and tin whistle.
                </p>
                <p>
                    On May 1st, 2022 - Justin's 40th birthday - he assembled a small group of friends and collaborators to announce that he was going to be musician-first, programmer-second.  He released his first single, "Nanny State Fiddler", a couple of months later.
                </p>
                <p>
                    Justin's music is influenced by bluegrass, old-time, and traditional music from around the world.  With lyrics on subjects such as cryptography, privacy, artificial intelligence, and the evolution of the internet, Justin's music is a unique blend of old and new.
                </p>

            </div>
        </div>
        <div class="col-2"></div>
    </div>
</div>