{% extends 'layouts/base.njk' %}
{% block main %}
{% include 'partials/bigger-banner.njk' %}

<div class="container mb-5">
    <div class="semi-transparent-bg p-4">
        <h1 class="pixel-font">Contact</h1>
        <p class="lead">You're always welcome on our discord (we know, centralized... we'll move to Matrix or
            something
            similarly awesome at some point). <a href="https://discord.gg/B8rEXkSAJ4">It's here, and pretty active.</a>
        </p>
        <p class="">For booking (talks, solo performances, or full band) contact Nicole: <a
                href="mailto:nicole@justinholmes.com">nicole@justinholmes.com</a></p>
        <p class="">For production notes, contact Skyler: <a href="mailto:skyler@justinholmes.com">skyler@justinholmes.com</a>
        </p>
        <p class="">To contact Justin directly (please be patient for a reply :-) ): <a
                href="mailto:justin@justinholmes.com">justin@justinholmes.com</a></p>
    </div>
</div>
{% endblock %}