{{#if compact}}
    {{> slicey}}
{{else}}
    {{> bigger-banner}}
{{/if}}

<div class="container mt-3">
    <h1 class="text-light pixel-font text-center mb-3">cryptograss.eth</h1>
    <h2 class="text-light pixel-font text-center">Cryptological apps written by bluegrassers</h2>
    <h2 class="text-light pixel-font text-center">Bluegrass written by cryptographers</h2>

    <h3 class="text-white">
        Blue Railroad Train Squats
    </h3>
    <h4 class="text-white">
        You can earn one by taking a video of yourself doing squats with "Blue Railroad Train", from Tony Rice's
        Manzanita album, to the Justin Holmes discord.
    </h4>
    <table class="chainDataList">
        {{#each chainData.blueRailroads}}
            <tr>
                <td>{{id}}</td>
                <td>{{owner}}</td>
                <td><a href="{{uri}}">video</a></td>
            </tr>
        {{/each}}
    </table>
</div>
