{{#if compact}}
    {{> slicey}}
{{else}}
    {{> bigger-banner}}
{{/if}}

<div class="container-fluid mt-2 mb-5">
    <div class="embed-responsive embed-responsive-16by9 d-flex justify-content-center">
        <iframe class="embed-responsive-item" width="560" height="315"
                src="https://www.youtube.com/embed/yTI1HoFYbE0?si=3_p1VqWKDC1xqP8q"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
</div>