{% extends 'layouts/base.hbs' %}
{% block main %}
{% include 'partials/bigger-banner.hbs' %}

<div class="container-fluid mt-2 mb-5">
    <div class="embed-responsive embed-responsive-16by9 d-flex justify-content-center">
        <iframe class="embed-responsive-item" width="560" height="315"
                src="https://www.youtube.com/embed/yTI1HoFYbE0?si=3_p1VqWKDC1xqP8q"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    <div class="row justify-content-center">

        <div class="col-md-8">
            <hr/>
            <h3 class="pixel-font">Tour update: Copenhagen</h3>
            <p>
                Copenhagen. I love this city. There's so much to say about it, but the thing that most resounds is that
                these proud people have defended the fuck outta this city for a thousand years just so that they have a
                place to play. Everywhere one looks, the civil infrastructure speaks to the value of a day enjoyed:
                bikes
                and playgrounds unto ubiquity, simple but superior food and drink, roads and paths that seem designed to
                joyously convey one to nowhere in particular.
            </p>
            <img class="img-fluid" src="{{ imageMapping["bike-with-instruments.png"] }}">
            <p>
                The Danish people have a character that is palpably distinct from the rest of continental Europe: they
                are
                toweringly tall, fit, friendly, approachably impartial, and above all, neighborly. But man I'd never
                want to
                go to war against these folks; they'd fuck you up by accident. It's no wonder their kingdom has
                weathered
                the many crashing waves of political tumult of this region.
            </p>
            <p>
                We went sailing yesterday with some new fans on their beautiful if ramshackle 33 ft urban sailboat; a
                utilitarian vessel maintained in service of charm and bliss, but not without a twinge of professionalism
                and
                pageantry to the eye of the aquatic hippie beholder.
            </p>
            <p>
                The three of us started the sunny day with local kombucha, local yogurt, and local mushrooms (the trippy
                kind), before meeting up with these new friends and being welcomed aboard.
            </p>
            <img class="img-fluid" src="{{ imageMapping["copenhagen-bat-country.png"] }}">

            <p>
                After departing the marina into a field of massive flowery wind turbines, tilting hello specifically to
                us,
                we stopped at what, at the time, felt like every Danish quintessence accessible in maritime, though we
                actually only toured the harbor from The Little Mermaid to Mikkeller to La Banchina.
            </p>
            <p>
                At each stop, we tapped back into the acquifer of local beer to add to the day of fermentation in our
                bellies. Try as they might, beer after beer and joint after joint never managed to sway the sharpness
                and
                acuity of the mushrooms. Another stalemate for all the king's horses and all the king's men.
            </p>
            <p>
                As our host steered our tiny galleon and pointed to the pre-history all around us, we listened to his
                voice
                casting just over the rhythmic hum of the modest but clockworky diesel engine, narrating the various
                naval
                events of Danish political signifigance that had unfolded on the fractalesque coastline around us.
                Amidst
                this junket, he grew into his proper viking form - at times with a simple and profound sincerity
                stemming
                from his light orange sideburns, and at others with a cartoonish horned helmet looming large in our
                psychedelic cortex to replace his Metallica trucker cap.
            </p>
            <p>
                Our casual broadside view of the HMY Britannia (colloqualiy "The Queen's Yacht") - a biggish, elegant,
                sophisticated-but-party-pooping hunk of royalty - had a subtext on behalf of our unabashedly unmighty
                vessel: "look your majesty, we have a yacht too."
            </p>
            <p>
                We picked our strings on beaches and piers and at breweries and parks for like 10 hours or something
                until
                the sun finally set just before midnight, confusing our latitude-calibrated internal clocks in a
                euphoric
                way. At the soonest convenience that cover of darkness offered, we shed every stitch and went swimming
                in
                the canal, naturally to celebrate the birth of a fiddler.
            </p>
        </div>
    </div>
</div>
{% endblock %}