{{#if compact}}
    {{> slicey}}
{{else}}
    {{> bigger-banner}}
{{/if}}

<div class="container">
    <div class="row">
        <div align="center">
            <h1 class="pixel-font p-3" style="color: #40c11b;">Listen to Justin explain:</h1>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/Y3s9Fu4yu7o?si=DGFffVz2oaKCYH-7"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <h4 class="pixel-font p-3" style="color: #40c11b;">We'll tell you about things:</h4>
            <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSc1S4ebvfp6fv2ioxZVIQ9akPhGs9QIC0PcuNZyTGV2UZpeyA/viewform?embedded=true" width="640" height="676" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
        </div>
    </div>
</div>