{% extends 'layouts/base.njk' %}
{% block main %}
{% include 'partials/bigger-banner.njk' %}

<div id="listen-container" class="container mt-3">
    <h1 class="text-light pixel-font text-center">Listen</h1>
    <div class="row">
        <div class="col-12">
            <ul class="nav subnav nav-tabs pixel-font">
                <li class="nav-item pi">
                    <button data-group="music-listen-section" data-show="studio" class="nav-link exclusive active">
                        Studio
                    </button>
                </li>
                <li class="nav-item">
                    <button data-group="music-listen-section" data-show="sessions" class="nav-link exclusive">Sessions
                    </button>
                </li>
                <li class="nav-item">
                    <button data-group="music-listen-section" data-show="live" class="nav-link exclusive">Live</button>
                </li>
                <li class="nav-item">
                    <button data-group="music-listen-section" data-show="talks" class="nav-link exclusive">Talks
                    </button>
                </li>
            </ul>
        </div>
    </div>

    <div id="studio" class="music-listen-section">
        <div class="row">
            <div id="vowel-sounds" class="col-md-5">
                <h3 class="text-white text-center"><a href="/music/vowel-sounds">Vowel Sounds</a> (Album)</h3>
                <h3 class="text-white text-center"><a href="/music/vowel-sounds">(more info)</a></h3>
                <h5 class="text-white text-center">Released September 2023</h5>
            </div>
            <div class="col-2"></div>
            <div id="nanny-state-fiddler" class="col-md-5">
                <h4 class="text-white text-center">Nanny State
                    Fiddler</h4>
                <h4 class="text-white text-center">(single)</h4>
                <h5 class="text-white text-center">Released July 2022</h5>

            </div>
            <div class="row">

                <div class="col-md-5">

                    <iframe style="width: 100%; height: 472px;"
                            src="https://bandcamp.com/EmbeddedPlayer/album=1063602042/size=large/bgcol=ffffff/linkcol=0687f5/artwork=small/transparent=true/"
                            seamless><a href="https://justinholmes.bandcamp.com/album/vowel-sounds">Vowel Sounds by
                        Justin
                        Holmes</a></iframe>
                </div>
                <div class="col-2"></div>
                <div class="col-md-5">
                    <iframe style="border: 0; width: 100%; height: 470px;"
                            src="https://bandcamp.com/EmbeddedPlayer/album=2958184754/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/track=3837192687/transparent=true/"
                            seamless><a href="https://justinholmes.bandcamp.com/album/nanny-state-fiddler-single">Nanny
                        State
                        Fiddler (single) by Justin Holmes</a></iframe>
                </div>
            </div>
        </div>
    </div>

    <div id="sessions" class="music-listen-section" style="display: none;">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-11">
                <h3 class="section-heading">Intimate recordings at studios or homes, with live audiences of 10 or
                    less.</h3>
            </div>
        </div>
        {% for media in sessions %}
            {% if loop.index0 % 2 === 0 %}
            <div class="row mt-3">
            {% endif %}
            <div class="col-sm-5 live-video index-{{ index % 4 }}">
                <div class="row">
                    {% set url = media.url %}
                    {% include 'partials/youtube.njk' %}
                </div>
                <div class="row media-metadata-above-video" style="min-height: 100px">
                    {% include 'partials/media-metadata.njk' %}
                </div>
            </div>
            {% if loop.index0 % 2 != 0 or loop.last %}
                </div>
            {% else %}
                <div class="col-2"></div>
            {% endif %}
        {% endfor %}

    </div>

    <div id="live" class="music-listen-section">
        <h3 class="section-heading">Recordings from live performances at venues, festivals, and events.</h3>
        <h4 class="section-heading pixel-font">I've been blessed to play music and relay my hopes for the future of
            the internet all over the world,
            from Nashville to Cape Town to Osaka to Prague.</h4>

        {% for media in live %}
            {% if loop.index0 % 2 === 0 %}
            <div class="row mt-3">
            {% endif %}
            <div class="col-sm-5 live-video index-{{loop.index % 4}}">
                <div class="row">
                    {% set url = media.url %}
                    {% include 'partials/youtube.njk' %}
                </div>
                <div class="row media-metadata-above-video" style="min-height: 100px">
                    {% include 'partials/media-metadata.njk' %}
                </div>
            </div>
            {% if loop.index0 % 2 != 0 or loop.last %}
                </div>
            {% else %}
                <div class="col-2"></div>
            {% endif %}
        {% endfor %}

    </div>
    <div id="talks" class="music-listen-section">
        <h3 class="section-heading">Recordings that may or may not have music, but where the focus is talking about (and
            perhaps performing a live demo of) compelling innovations.</h3>

        {% for media in talks %}
            {% if loop.index0 % 2 === 0 %}
            <div class="row mt-3">
            {% endif %}
            <div class="col-sm-5 live-video index-{{loop.index % 4}}">
                <div class="row">
                    {% set url = media.url %}
                    {% include 'partials/youtube.njk' %}
                </div>
                <div class="row media-metadata-above-video" style="min-height: 100px">
                    {% include 'partials/media-metadata.njk' %}
                </div>
            </div>
            {% if loop.index0 % 2 != 0 or loop.last %}
                </div> <! -- End of row llamas -->
            {% else %}
                <div class="col-2"></div>
            {% endif %}
        {% endfor %}

    </div>

    <div id="ensemble-intro" class="fs-4 text-start">
        <p><em>
            "After we're done with the music, it's gone. Why shouldn't they take it home with them?" - Jerry Garcia
        </em>
        </p>
        <p>
            Music, Recordings, and Artwork are released pursuant to the Creative Commons Attribution-ShareAlike 4.0
            International (CC BY-SA 4.0)
            license. Feel free to distribute, remix, and do whatever pleases you with this music, as long as you
            attribute the creators.

            You can listen to it via legacy platforms like spotify and bandcamp (and, at your discretion, purchase
            my
            albums from various platforms if you want to support me in this way).

            Please share via bittorrent, IPFS, or a censorship-resistant mechanism of your choice.
        </p>
    </div>
</div>
{% endblock %}