{% extends 'layouts/base.hbs' %}
{% block main %}
{% include 'partials/bigger-banner.hbs' %}


<div id="content" class="container text-light all-shows-list">
    <div class="col-md-12">
        {% for show_id, show in shows %}
            {% include "../partials/single-show-overview.hbs" %}
        {% endfor %}
    </div>
</div>
{% endblock %}