{{#if compact}}
    {{> slicey}}
{{else}}
    {{> bigger-banner}}
{{/if}}


<div id="content" class="container text-light all-shows-list">
    <div class="col-md-12">
        {{#each showsWithChainData}}
            {{> single-show-overview show=this title_as_link=true}}
        {{/each}}
    </div>
</div>