{% include 'partials/bigger-banner.hbs' %}


<div id="content" class="container text-light all-shows-list">
    <div class="col-md-12">
        {% for show in shows %}
            {% include "../reuse/single-show-overview.hbs" %}
        {% endfor %}
    </div>
</div>