{% extends 'layouts/base.njk' %}
{% block main %}
{% include 'partials/bigger-banner.njk' %}


<div id="content" class="container text-light">
    {% for song in songs %}
        <br/>
        {% include 'reuse/song-summary.njk' %}
        <hr/>
    {% endfor %}
</div>
{% endblock %}