{% include 'partials/bigger-banner.hbs' %}


<div id="content" class="container text-light">
    {% for song in songs %}
        <br/>
        {$ include 'reuse/song-summary.hbs' %}
        <hr/>
    {% endfor %}
</div>