{% extends 'layouts/base.html' %}
{% block main %}
{% include 'partials/bigger-banner.html' %}


<div id="content" class="container text-light">
    <dv class="accordion col-md-8 center">
        {% for provenance, songs in songsByProvenance %}<br/>
        <h1>{{provenance}}</h1>
        {% for song in songs %}
        <br/>
        {{ song.slug }}
        <br/>
        {% include 'partials/song-summary.html' %}
        <hr/>
        {% endfor %}
        {% endfor %}
    </dv>
</div>
{% endblock %}