{% extends 'layouts/base.hbs' %}
{% block main %}
{% include 'partials/bigger-banner.hbs' %}


<div id="content" class="container text-light">
    <dv class="accordion col-md-8 center">
        {% for songs, provenance in songsByProvenance %}<br/>
        <h1>{{provenance}}</h1>
        {% for song in songs %}
        <br/>
        {$ include 'reuse/song-summary.hbs' %}
        <hr/>
        {% endfor %}
        {% endfor %}
    </dv>
</div>
{% endblock %}