<div class="container-lg text-center">

    <div class="row justify-content-center">
        <div class="col-sm-5">
            {% if use_white_logo %}
            <a id="home-link-at-top" href="/">
                <img id="main-logo-at-top" class="img-fluid" src="{{ imageMapping["name-with-logo-white.png"] }}">
            </a>
            {% else %}
            <a id="home-link-at-top" href="/">
                <img id="main-logo-at-top" class="img-fluid" src="{{ imageMapping["name-with-log.png"] }}">
            </a>
            {% endif %}
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-3"></div>
        <a class="col-sm-6" href="/">
            <p id="immutable-string-band" class="p-0 text-nowrap bright mb-0 display-6 curly">and the immutable
                string
                band</p>
        </a>
    </div>

    {% if no_slogan %}
    <!-- no slogan -->
    {% else %}
    <div class="row">
        <div class="top-title text-center">
            <h4 id="slogan" class="bright pixel-font">{{slogans[1]}}</h4>
        </div>
    </div>
    {% endif %}

    {% if no_nav %}
    <!-- no nav -->
    {% else %}
    {% include 'partials/nav.html' %}
    {% endif %}
</div>