<div class="mt-4">
    <div class="row text-center">
        <div class="top-title">
            <h1 class="deep-stroke"><a href="/">
                Justin<img class="logo" src="{{resolveImage 'jh-logo-shaded-white.svg'}}">&nbsp;&nbsp;&nbsp;&nbsp;Holmes
            </a></h1>
        </div>
    </div>
    <div class="row">

        <div class="top-title text-center">
            <h2 id="slogan" class="bright">{{slogans.[1]}}</h2>
        </div>
    </div>
    {{> nav }}
</div>