<div class="container-lg">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-md-4">
            <a href="/">
                <img class="img-fluid" src="{{resolveImage 'name-with-log.png'}}">
            </a>
        </div>
        <div class="col-4"></div>
    </div>
    <div class="row mt-2">
        <div class="top-title text-center">
            <h4 id="slogan" class="bright">{{slogans.[1]}}</h4>
        </div>
    </div>
    {{> nav }}
</div>