<h5 class="text-white text-center">{{title}}</h5>
<h5 class="text-white text-center">{{event}}</h5>
<h6 class="text-white text-center">{{location}}</h6>
<h6 class="text-white text-center">{{date}}</h6>