<nav>
    <span class="{{isActive page_name "music" }}">
        <a href="/music.html">Music</a>
    </span>
    <span class="{{isActive page_name "on-chain" }}">
        <a href="/on-chain.html">Bazaar</a>
    </span>
    <span class="{{isActive page_name "these-days" }}">
        <a href="/these-days.html">These&nbsp;Days</a>
    </span>
    <span class="{{isActive page_name "talks" }}">
        <a href="/talks.html">Talks</a>
    </span>
</nav>