<ul id="top-nav" class="mt-3 nav nav-fill justify-content-center">
    <li class="nav-item">
        <a class="p-0 nav-link {{isActive page_name "music" }}" href="/music.html">Listen</a>
    </li>
    <li class="nav-item">
        <a class="p-0 nav-link" href="/collaborators.html">Ensemble</a>
    </li>
    <li class="nav-item">
        <a class="p-0 nav-link" href="/about.html">About</a>
    </li>
    <li class="nav-item">
        <a id="cryptograss-nav-link" class="p-0 nav-link pixel-font" href="/bazaar.html">cryptograss.eth</a>
    </li>
</ul>