<nav id="top-nav" class="nav nav-fill justify-content-center flex-column flex-sm-row ">
    <a class="p-0 nav-link {{"active" if page_name=="listen" }}" href="/listen"><span>🠊&nbsp;</span>Listen<span>&nbsp;🠈</span></a>
    <a class="p-0 nav-link {{"active" if page_name=="ensemble" }}" href="/ensemble"><span>🠊&nbsp;</span>The Immutable
        String Band<span>&nbsp;🠈</span></a>
    <a class="p-0 nav-link {{"active" if page_name=="about" }}"
       href="/about"><span>🠊&nbsp;</span>About<span>&nbsp;🠈</span></a>
    <a class="p-0 nav-link {{"active" if page_name=="shows" }}"
       href="/shows"><span>🠊&nbsp;</span>Shows<span>&nbsp;🠈</span></a>
    <a id="cryptograss-nav-link" class="p-0 nav-link pixel-font {{"active" if page_name=="cryptograss.eth" }}"
       href="/cryptograss"><span>🠊&nbsp;</span>cryptograss.eth<span>&nbsp;🠈</span></a>
    <a class="p-0 nav-link {{"active" if page_name=="contact" }}" href="/contact"><span>🠊&nbsp;</span>Contact<span>&nbsp;🠈</span></a>
</nav>