<ul id="top-nav" class="mt-3 nav nav-fill justify-content-center">
    <li class="nav-item">
        <a class="p-0 nav-link {{isActive page_name "music" }}" href="/music.html">Music</a>
    </li>
    <li class="nav-item">
        <a class="p-0 nav-link" href="/collaborators.html">Collaborators</a>
    </li>
    <li class="nav-item">
        <a class="p-0 nav-link" href="/talks.html">Talks</a>
    </li>
    <li class="nav-item">
        <a class="p-0 nav-link" href="/about.html">About</a>
    </li>
    <li class="nav-item">
        <a class="p-0 nav-link" href="/bazaar.html">cryptograss.eth</a>
    </li>
</ul>