<div id="slice" class="container-md float-start">
    <span class="col as-slice" id="top-title" class="orange-glow">
        <a class="logo-link" href="/">
            <img class="logo" src="{{resolveImage 'jh-logo-shaded-white.svg'}}"
                 onerror="this.src='{{resolveImage "jh-logo-shaded.png"}}'">
        </a>
        <span class="col-6">
            {{> nav}}
        </span>
    </span>
</div>