<div id="slice">
    <span class="container-md as-slice" id="top-title">
        <div class="row">
            <span class="col-1">
                <a class="logo-link" href="/">
                    <img class="logo" src="{{ imageMapping["'jh-logo-shaded-white.svg'"] }}"
                         onerror="this.src='{{ imageMapping["jh-logo-shaded.png"] }}'"/>
                </a>
            </span>
            <span class="col-10 pt-4">
                {{> nav}}
            </span>
        </div>
    </span>
</div>