<ul>
    <h2 class="kreon">Played at {{song.plays.length}} shows:</h2>
    {% for song_play in song.plays | reverse %}
        <li><a href="{{song_play._set._show.resource_url}}">{{song_play._set._show.title}}</a>{% if song_play.as_title %} (as "{{song_play.as_title}}"){% endif %} on {{song_play._set._show.local_date}}
            {% for stone in song_play._set.setstones %}
                <a href="{{stone.resource_url}}"><img class="stone-in-long-list" src="/assets/images/setstones/{{stone.tokenId}}.png"></a>
            {% endfor %}
        </li>
    {% endfor %}
</ul>