<div class="h-100 w-100 embed-responsive embed-responsive-4by3">
    <iframe class="embed-responsive-item w-100" src="{{url}}"
            title="{{embed-title}}" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>