@font-face {
  font-family: 'Cabin Sketch';
  font-style: normal;
  font-weight: 400;
  src: local('Cabin Sketch Regular'), local('CabinSketch-Regular'), url(d9fijO34zQajqQvl3YHRCegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Kreon';
  font-style: normal;
  font-weight: 400;
  src: local('Kreon Regular'), local('Kreon-Regular'), url(gK2DcrR6Rzx5Ga9PpDfp3A.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'ds-term';
  font-style: normal;
  font-weight: 400;
  src: local('ds terminal'), local('DS-TERM'), url(ds_terminal/DS-TERM.TTF);
}

@font-face {
  font-family: 'larissa';
  font-style: normal;
  font-weight: 400;
  src: local('Larissa'), local('larissa'), url(Larissa.ttf);
}

@font-face {
  font-family: 'll-pixel';
  font-style: normal;
  font-weight: 400;
  src: local('LL Pixel'), local('ll-pixel'), url(LLPIXEL3.ttf);
}
