html {
    --font-scale: 1;
}

body {
    background-image: url("background.png");
    height: 100%;
    margin: 0;
    font-family: fell serif;
    color: white;
}

a {
    text-decoration: none;
    color: #99c9ff;
    text-shadow: #000 1px 1px 2px;
}

a:hover {
    color: #8e845d;
    text-shadow: black 1px 1px 1px;
    text-decoration: underline;
}

#ensemble-intro, #about-text, #top-nav, .gradient-transparent-bg {
    background: linear-gradient(180deg, rgba(77, 83, 84, 0.7) 0%, rgba(77, 83, 84, .2) 100%);
}

#vowel-sounds a {
    color: #83d0ff;
}

#vowel-sounds a:hover {
    color: black;
}

.person-bio, .bio-caption, .bio-title, h1, #about-text {
    text-shadow: 2px 2px 2px black, 0px 0px 10px black;
}

.person-info img {
    max-height: 300px;
    object-fit: contain;
    max-width: 100%;
}

#cryptograss-nav-link {
    margin-top: -2px;
}

#cryptograss-content blockquote {
	font-family: 'Cabin', sans-serif;
	font-style: italic;
	color: #f2c6ae;
	text-shadow: 1px 1px 0px black;
	margin-left: 40px;
	margin-right: 40px;
}

.aside1 {
    margin-top: 20px;
    background-color: antiquewhite;
    padding: 5px;
    font-family: 'Kreon', serif;
    font-size: .7em;
}

#footer {
    background-color: rgba(16, 0, 0, 0.59);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
}

#footer a img {
    margin-bottom: 10px;
    margin-top: 5px;
    width: 30px;
}

#top-nav {
    border-top: 1px solid #383b67;
    border-bottom: 1px solid #383b67;
}

#slogan {
    font-size: calc(1rem + .6vw);
    color: black;
    -webkit-text-stroke: 1px #424032;
    text-shadow: white -1px -1px 0px, white 1px 1px 0px, white 1px -1px 0px, white -1px 1px 0px;
    min-height: 32px;
}

nav#top-nav a.nav-link {
    font-size: 1.2em;
    color: #99c9ff;
    text-shadow: 0px 0px 1px black, 0px 0px 3px #1f0432, 0px 0px 2px #2f17ce;
    text-align: center;
}

.subnav button.nav-link {
    color: white;
    font-size: 1.2em;
}

.subnav button.nav-link:hover {
    color: #99c9ff;
}

nav#top-nav a.nav-link:hover {
    color: white;
}

nav#top-nav a.nav-link.active {
    color: #bd86ff;
}

/*These are the arrows*/
nav#top-nav a.nav-link span {
    display: none;
    color: #f2c6ae;
}

nav#top-nav a.nav-link.active span {
    display: inline;
}

#top-nav a:hover {
    text-shadow: 0px 0px 2px red, 0px 0px 9px #6a95cc, 0 0 20px #714400;
    color: white;
}

nav a img {
    max-height: 40px;
}

/*Looking for a way to implement this without the entire row triggering the hover.*/
/*#home-link-at-top:hover {*/
/*    filter: invert(100%) drop-shadow(1px 1px 1px white);*/
/*    color: black;*/
/*}*/

#immutable-string-band {
    text-shadow: none;
}

#listen-container iframe {
    width:100%;
    min-height: 240px;
}

.section-heading {
    color: #c7c0f6;
    text-shadow: 1px 1px 0px #323232, 0px 0px 3px #343434
}

.timeframe {
    margin: auto;
    text-align: center;
    width: 100%;
    font-weight: bold;
    font-family: cabin;
    font-size: 1.6em;
}

.detail {
    font-family: 'Inconsolata', monospace;
    font-size: 1.4em;
}

.detail-bright-back {
    font-family: 'Inconsolata', monospace;
    width: 800px;
    margin: auto;
    margin-top: 30px;
    background-color: #cfcfcf;
    border: 5px ridge #5683bf;
    padding: 10px;
    font-size: 1.4em;
}

.detail-bright-back :is(h1,h2,h3,h4,h5) {
    margin: auto;
}

.detail-bright-back a {
    color: #9191ff;
    text-shadow: 1px 0px 0px black, 0px -1px 0px black
}

.detail-bright-back a:hover {
    color: gray;
}

.detail p {
    margin: 0;
    margin-top: 20px;
}

.detail-bright-back strong {
    text-shadow: 1px 1px 0px #2c00ff;
}

.media-item .detail-bright-back {
    margin: 0;
}

.detail h1 {
    margin: 0;
    font-size: 1.5em;
}

.orange-glow, .orange-glow a {
    text-shadow: #db7b46 0em 2px 3px;
}

.deep-stroke, .deep-stroke a {
    text-shadow: #000 1px 2px 1px, #000 -2px -1px 1px;
}

.bright {
    color: white;
    text-shadow: #7b6b15 0px 0px 1px, black 1px 1px 3px, black -1px -1px 3px, black 2px 2px 2px;
}

.page-headline {
    font-family: 'Cabin', sans-serif;
    width: 60%;
    margin: auto;
    margin-top: 80px;
    background-color: #cfcfcf;
    border-left: 2px dashed black;
    border-right: 1px dashed black;
    padding: 10px;
    font-size: 1.5em;
    text-align: center;
}

.small {
    font-size: .6em;
}

.center {
    margin: auto;
    text-align: center;
}

.media-share {
    background-color: rgba(156, 156, 156, 0.4);
    width: 600px;
    margin-top: -5px;
    padding: 10px 0 10px 0;
}

.media-share a img {
    /* width: 110px; */
    vertical-align: middle;
    margin-left: 10px;
    max-height: 40px;
    max-width: 135px;
    margin-right: 10px;
}

.media-item {
    border-bottom: 1px solid white;
    padding-bottm: 10px;
}

.media-item iframe {
    display: block;
    clear: left;
}

.small-credit {
    color: white;
    font-size: 15px;
    font-family: larissa;
}

.lower-photo {
    display: block;
    margin-top: 20px;
    margin: auto;
}

.sorta-background {
    position: absolute;
    z-index: 0;
    opacity: .4;
    width: 90%;
}

.very-bottom {
    position: fixed;
    bottom: 58px;
    width: 100%;
    background: #9390b7;
    font-size: 20px;
    text-align: center;
}

/*Mostrly Music and POAP stuff below*/

#right-of-puzzle {
    position: relative;
    left: 490px;
}

#puzzle-array {
    position: relative;
    float: left;
}

#puzzle-area {
    height: 525px;
    width: 500px;
}

#puzzle-area li {
    color: white;
    font-size: 1.8em;
    filter: drop-shadow(5px 2px 2px black);
    text-shadow: 1px 1px black;
}

#puzzle-array img {
    position: absolute;
}

#puzzle-array .top-left {
    top: 0;
    left: 0;
}

#puzzle-array .top-right {
    top: 0;
    left: 205px;
}

#puzzle-array .bottom-left {
    top: 229px;
    left: 0;
}

#puzzle-array .bottom-right {
    top: 167px;
    left: 205px;
}

.desaturated {
    filter: saturate(0);
}

.shadowed {
    filter: drop-shadow(-8px 8px 1px black) saturate(0);
}

.artFrame {
    height: 0;
    width: 0;
    filter: drop-shadow(3px 3px 2px black);
    border: 6px dashed;
    float: left;
    clear: left;
    margin-bottom: 30px;
}

#productionArea, #ensembleArea {
    width: 1200px;
    display: none;
}

#productionArtFrame {
    opacity: 0;
    border-color: #a67b75;
}

#ensembleArtFrame {
    opacity: 0;
    border-color: black;
}

.purpleBox {
    background: rgba(90, 0, 131, 0.49) !important;
    color: white;
    text-shadow: 1px 1px 1px black;
    width: 450px;
    height: 405px;
    padding: 15px;
}

.box-to-the-right {
    height: 405px;
    padding: 15px;
    background: #908d86a3;
    float: left;
    width: 585px;
    margin-left: 75px;
    border: 1px solid white;
}

#poap-check-dialog .button {
    margin-left: 10px;
    font-size: 20px;
    background-color: #3c3cff;
    color: white;
    padding: 15px;
}

#POAPloadanimation {
    width: 160px;
    left: 155px;
    top: 188px;
    opacity: 0;
}

#poap-checking-now {
    opacity: 0;
    margin-left: 10px;
    width: 450px;
    height: 405px;
    display: none;
}

#found-poaps {
    opacity: 0;
    margin-left: 70px;
    display: none;
}

.tracklist {
    font-family: ll-pixel;
    font-size: 16px;
    width: 400px;
    margin-bottom: 15px;
}

#ursa-minor-actual-album {
    width: 100%;
    background: #592929d9;
    padding: 30px;
    border: 2px solid black;
    height: 0;
    opacity: 0;
    display: none;
}

#ursa-minor-actual-album iframe {
    float: left;
    clear: left;
}

#actual-download-link {
    color: #7a76fb;
}

.as-slice {
    height: 100px;
}

.as-slice .logo {
    position: fixed;
    height: 150px;
    width: 150px;
    top: 0;
    filter: drop-shadow(2px 3px 2px rgb(0 0 0 / 1));

}

.as-slice .logo:hover {
    filter: drop-shadow(2px 1px 12px rgb(0 0 0 / 1));
}

/* For video background */


.bg {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100vw;
    min-height: 100vh;
    width: auto;
    height: auto;
    background-size: cover;
}

.contentOnTopOfVideo {
    position: relative;
    z-index: 200;
    margin-bottom: 100px;
}

.media-metadata-above-video {
    height: 200px;
}

.index-0 {
    background-color: rgba(162, 198, 243, 0.18);
}

.index-1 {
    background-color: rgba(106, 97, 113, 0.22);
}

.index-2 {
    background-color: rgba(106, 97, 113, 0.22);
}

.index-3 {
    background-color: rgba(162, 198, 243, 0.18);
}