{% extends 'layouts/base.njk' %}
{% block main %}
{% include 'partials/bigger-banner.njk' %}


<div class="container mb-5">
    <div class="gradient-transparent-bg p-4">
        <h1 class="pixel-font">Make show available for stone minting</h1>

        {# Selector for show, from shows in context #}
        <div class="form-group">
            <label for="show">Select a show</label>
            <select class="form-control" id="show-to-make-available" name="show" required>
                <option value="">Select a show</option>
                {% for show_id, show in shows %}
                    <option value="{{ show_id }}">{{ show.title }}</option>
                {% endfor %}
            </select>
        </div>

        {# Input box for number of rabbit secrets to generate #}
        <div class="form-group">
            <label for="numberOfRabbitSecrets">Number of Rabbit Secrets to generate</label>
            <input type="number" class="form-control" id="numberOfRabbitSecrets" name="numberOfRabbitSecrets" required>
            {# Generate hashes button #}
            <button class="btn btn-primary" id="generate-rabbit-secrets-button">Generate Rabbit Secrets</button>
        </div>
            <p>
            <a id="contractEtherscanLink">
                View SetStone Contract on Etherscan
            </a>
        </p>

        <!-- Input for artist_id -->
        <div class="form-group">
            <label for="artist_id">Artist ID</label>
            <input type="number" class="form-control" id="artist_id" name="artist_id" required>
        </div>

        <!-- Input for blockheight -->
        <div class="form-group">
            <label for="blockheight">Blockheight</label>
            <input type="number" class="form-control" id="blockheight" name="blockheight" required>
        </div>

        <!-- Input for shape -->
        <div class="form-group">
            <label for="shape">Shapes (newline separated, length equal to number of sets)</label>
            <textarea class="form-control" id="shapes" name="shapes" required rows="2"></textarea>
        </div>

        <!-- Input for order -->
        <div class="form-group">
            <label for="order">Number of sets</label>
            <input type="number" class="form-control" id="numberOfSets" name="numberOfSets" required>
        </div>

        <!-- Textarea for rabbitHashes -->
        <div class="form-group">
            <label for="rabbitSecrets">Rabbit Secrets (newline separated)</label>
            <textarea class="form-control" id="rabbitSecrets" name="rabbitSecrets" rows="5" required></textarea>
        </div>

        <!-- Input for stonePriceWei -->
        <div class="form-group">
            <label for="stonePriceWei">Stone Price (ETH)</label>
            <input type="number" class="form-control" id="stonePriceEth" name="stonePriceWei" required>
        </div>

        <!-- Submit button -->
        <w3m-button></w3m-button>
        <button type="submit" class="btn btn-primary" onclick="makeShowAvailableForStoneMinting()">Make show available for stone minting</button>
    </div>
</div>
{% endblock %}