{% extends 'layouts/base.html' %}
{% block main %}
{% include 'partials/bigger-banner.html' %}

<div id="content">
    <div class="container">
         <h3 class="bright larissa">Take 24:</h3>
        <h3 class="bright larissa">Sign 0x969072f83e6bfe3b1b6605da7d94f5148d4f975542d4629c48850c6b62a5ca7b</h3>
<w3m-button></w3m-button>
        <button id="signButton">Sign Plaintext</button>
        <pre class="showTextResult"><code id="signatureOutput"></code><code id="messageOutput"></code></pre>
    </div>
</div>
{% endblock %}

